body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.controls div {
  padding: 30px;
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 700;
}

h3 {
  font-weight: 500;
  margin: 30px;
}